/**/

@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --primary: #8e51ff;
  --primary-foreground: #f5f3ff;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --primary: #7f22fe;
  --primary-foreground: #f5f3ff;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
}

* {
  font-family: 'Inter', sans-serif;
}

#root {
  min-height: 100vh;
}
