/**/

@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --primary: #8e51ff;
  --primary-foreground: #f5f3ff;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --primary: #7f22fe;
  --primary-foreground: #f5f3ff;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
}

* {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

#root {
  min-height: 100vh;
}

button {
  @apply gap-2;
  @apply rounded-md;
  @apply text-sm;
  @apply font-medium;
  @apply transition-colors;
  @apply h-10;
  @apply px-4;
  @apply py-2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  background-color: var(--primary);
  color: var(--primary-foreground);
}

button:focus-visible {
  @apply outline-none;
  @apply ring-2;
  @apply ring-offset-2;
}

button:disabled {
  pointer-events: none;
  opacity: 50%;
}

button:hover {
  background-color: var(--primary-foreground);
  opacity: 90%;
}
